<!DOCTYPE html>
<html lang="en" ng-app="IntelLearner">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="icon" href="img/favicon.ico" type="image/x-icon"/> -->
  <!-- <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/> -->
  <title></title>
  
  <link rel="stylesheet" href="css/app.css"> 
  <link rel="stylesheet" href="css/bootstrap-datepicker3.css"> 
  <link rel="stylesheet" href="css/onsenui.css">
  <link rel="stylesheet" href="css/onsen-css-components-IntelProject.css">
  <link rel="stylesheet" href="css/app.css">
  

</head>
<body ng-controller="MainCtrl">

    <div id="MainDiv" class="{{((blurAllWindow == true)?'blured':'')}}" ng-switch="AppStatus" style="display:none">
      <div class="AppPage" ng-switch-when="2" style="">  
      <ons-page>
          <ons-tabbar position="top" class="" style="height: 50px;">
            <ons-row>
              <ons-col width="220px" class="Logo rtl">
                <img src="img/IntelIcon.png" style="height: 100%;margin: auto;">
              </ons-col>
              <ons-col id="NotificationsButton1" ng-click="workSpaces.checkUserColorsInWorkspace();" width="100px" style="width:100px; position:relative;" class="">
                <div class="TopTabbarButton clickable hoverOp">Settings</div>
              </ons-col>
              <ons-col id="NotificationsButton2" ng-click="openNewWorkflow();" width="150px" style="width:150px; position:relative;" class="">
                <div class="TopTabbarButton clickable hoverOp">New Workflow</div>
              </ons-col>
              <ons-col>
              </ons-col>
              <ons-col id="refocusButton" ng-click="refocusLastWorkflow();" width="45px" style="width:45px; position:relative;" class="{{'col ons-col-inner '+((focusingLastWorkflow == false)?'clickable hoverOp':'opacityLow')}}">
                <div class="TopTabbarButton" style="border-right:0;font-size: 13px;">
                  <ons-icon icon="ion-pinpoint" size="25px"></ons-icon>
                </div>
              </ons-col>
              <ons-col id="NotificationsButton3" ng-click="Steps.commitSteps();" width="85px" style="width:50px; position:relative;" class="{{'col ons-col-inner '+((Steps.savedInServer == false)?'clickable hoverOp':'opacityLow')}}">
                <div class="TopTabbarButton" style="border-right:0;font-size: 13px;">
                  <ons-icon icon="ion-upload" size="25px"></ons-icon>
                  Save
                </div>
                <div class="backgroundSaveButton" style="{{((Settings.autoSave == true)?((Steps.savedInServer == false && counterBeforeSave > 2)?'height:'+ ((5-(7-counterBeforeSave))*20)+'%':'hidden'):'hidden')}}"></div>
              </ons-col>
              <ons-col id="NotificationsButton4" ng-click="UndoWorkflow();" width="80px" style="width:50px; position:relative;" class="{{'col ons-col-inner '+((Steps.canUndo() == true)?'clickable hoverOp':'opacityLow')}}">
                <div class="TopTabbarButton" style="border-right:0;font-size: 13px;">
                  <ons-icon icon="ion-ios-undo" size="25px"></ons-icon>
                  Undo
                </div>
              </ons-col>
              <ons-col id="NotificationsButton5" ng-click="RedoWorkflow();" width="80px" style="width:50px; position:relative;" class="{{'col ons-col-inner '+((Steps.canRedo() == true)?'clickable hoverOp':'opacityLow')}}">
                <div class="TopTabbarButton" style="border-right:0;font-size: 13px;">
                  Redo
                  <ons-icon icon="ion-ios-redo" size="25px"></ons-icon>
                </div>
              </ons-col>
              <ons-col width="230px" style="border-left: 1px solid rgba(0,0,0,.1);">
                <ons-row>
                  <ons-col width="40px" class="col ons-col-inner" style="-webkit-box-flex: 0; flex: 0 0 40px; max-width: 40px;text-align: center;line-height: 47px;color: rgba(8,96,168,.6);">
                    <ons-icon size="20px" icon="ion-arrow-shrink"></ons-icon>
                  </ons-col>
                  <ons-col class="range-wrapper">
                    <input type="range" id="ZoomRange" value="80" min="25" max="100" class="range">
                  </ons-col>
                  <ons-col width="40px" class="col ons-col-inner" style="-webkit-box-flex: 0; flex: 0 0 40px; max-width: 40px;text-align: center;line-height: 47px;color: rgb(8,96,168);">
                    <ons-icon size="20px" icon="ion-arrow-expand"></ons-icon>
                  </ons-col>
                </ons-row>
              </ons-col>
              <!-- <ons-col  width="230px" >
                <div id="TabbarProfileButtonId" ng-click="openProfilePage();" class="TabbarProfileButton hoverOp clickable">
                  <ons-col width="37px">
                    <img class="TabbarProfileImg" ng-src="{{currentUser.profilePicture}}" src="" />
                  </ons-col>
                  <ons-col>
                    <div class="TabbarProfileText">{{currentUser.firstName + " " + currentUser.lastName}}</div>
                  </ons-col>
                </div>
              </ons-col>
              <ons-col  class="LogoutDivTabbar hoverOp clickable" ng-click="logout();" width="49px">
                <ons-icon  size="25px" icon="ion-android-exit"></ons-icon>
              </ons-col> -->
            </ons-row>
          </ons-tabbar>
          <ons-row id="BodyRow" style="margin-top: 50px;  overflow: scroll;">

            <!-- <ons-col width="32%" class="col ons-col-inner leftCol WorkFlowDiv">
              <ons-row class="row ons-row-inner WorkFlowTabs">
                <ons-col ng-click="selectTab(1,0);" class="{{'col ons-col-inner WorkFlowTab '+((getSelectedTab(1,0))?'ActiveTab':'')}}">
                  <input id="WorkflowId1Tab1" ng-blur="updateTabName(1,1,'WorkflowId1Tab1');" readonly="readonly" ng-enter="blurThis('WorkflowId1Tab1');" ng-dblclick="ConvertTextBos('WorkflowId1Tab1');" value="Tab 1" placeholder="Tab name" />
                </ons-col>
                <ons-col ng-click="selectTab(1,1);" class="{{'col ons-col-inner WorkFlowTab '+((getSelectedTab(1,1))?'ActiveTab':'')}}">
                  <input id="WorkflowId1Tab2" ng-blur="updateTabName(1,2,'WorkflowId1Tab2');" readonly="readonly" ng-enter="blurThis('WorkflowId1Tab2');" ng-dblclick="ConvertTextBos('WorkflowId1Tab2');" value="Tab 2" placeholder="Tab name" />
                </ons-col>
                <ons-col ng-click="selectTab(1,2);" class="{{'col ons-col-inner WorkFlowTab '+((getSelectedTab(1,2))?'ActiveTab':'')}}">
                  <input id="WorkflowId1Tab3" ng-blur="updateTabName(1,3,'WorkflowId1Tab3');" readonly="readonly" ng-enter="blurThis('WorkflowId1Tab3');" ng-dblclick="ConvertTextBos('WorkflowId1Tab3');" value="Tab 3" placeholder="Tab name" />
                </ons-col>
                
              </ons-row>
            </ons-col> -->
            <div id="WorkFlowMatrix">
              <div id="pointToZoom"></div>
              
              <!-- <div ng-mouseenter="EnableScroll(2);" ng-mouseleave="EnableScroll(1);" -->
              <div ng-mouseenter="((wFlow.selectedTab.Type == 4)?EnableScroll(2):return);" ng-mouseleave="EnableScroll(1);" ng-repeat="wFlow in Workflow" id="{{'Workflow'+wFlow.ID}}" class="WorkFlowBlock Available" ng-click="Steps.lastFocusedWorkflow = wFlow.ID" fx="{{wFlow.fx}}" fy="{{wFlow.fy}}" tx="{{wFlow.tx}}" ty="{{wFlow.ty}}">
                <div ng-click="focusThisWorkflow(wFlow);" class="{{'MaximizeButton clickable '+((clickToMaximize == true)?'':'hidden')}}">
                  <div>
                    <ons-icon icon="ion-ios-search-strong" size="100px"></ons-icon>
                  </div>
                </div>
                <div ng-click="CancelNewWorkflow();" class="{{'CancelNewWorkflow clickable '+((displayNewWorkflowButtons == true)?'':'hidden')}}">
                  Open new workflow or new tab
                  <div>
                    Cancel
                  </div>
                </div>
                <div class="resizeDiv resizeWidthLeftDiv hoverOp clickable">
                  <ons-icon icon="ion-arrow-left-b" size="20px"></ons-icon>
                </div>
                <div class="resizeDiv resizeWidthRightDiv hoverOp clickable">
                  <ons-icon icon="ion-arrow-right-b" size="20px"></ons-icon>
                </div>
                <div class="resizeDiv resizeHeightTopDiv hoverOp clickable">
                  <ons-icon icon="ion-arrow-up-b" size="20px"></ons-icon>
                </div>
                <div class="resizeDiv resizeHeightBottomDiv hoverOp clickable">
                  <ons-icon icon="ion-arrow-down-b" size="20px"></ons-icon>
                </div>
                <ons-row class="row ons-row-inner WorkFlowTabs">
                  <ons-col ng-repeat="tab in wFlow.tabs" 
                    ng-click="((displayNewWorkflowButtons == true)?return:selectTab(wFlow, tab));" 
                    class="{{'col ons-col-inner WorkFlowTab '+((getSelectedTab(wFlow, tab.ID))?'ActiveTab':'') + ' '+ ((clickToMaximize == true || displayNewWorkflowButtons == true)?'blured':'')}}"
                    style="{{'box-shadow: 0px 17px 0px -13px '+tab.color}}">
                    <input id="{{'WorkflowI'+wFlow.ID+'Tab'+tab.ID}}" readonly="readonly" placeholder="Tab name" ng-enter="updateTabName(wFlow.ID, tab.ID, 'WorkflowI'+wFlow.ID+'Tab'+tab.ID);" 
                    ng-dblclick="((displayNewWorkflowButtons == true)?return:ConvertTextBos('WorkflowI'+wFlow.ID+'Tab'+tab.ID));"
                    value="{{tab.title}}" />
                    <ons-icon ng-click="closeTab(wFlow);" class="closeTabButton" icon="ion-ios-close" size="18px"></ons-icon>
                    <ons-icon ng-click="openTabOptions(wFlow);" class="optionTabButton" icon="ion-navicon-round" size="18px"></ons-icon>
                  </ons-col>
                  <ons-col ng-click="addNewTabToWorkflow(wFlow);" class="{{'col ons-col-inner newWorkflowTab ' + ((displayNewWorkflowButtons == true)?'':'hidden')}}">
                    +
                  </ons-col>
                </ons-row>
                <div class="{{'SelectedTabContent '+((clickToMaximize == true || displayNewWorkflowButtons == true)?'blured':'')}}">
                    <div class="{{((getSelectedTabType(wFlow) == 0)?'':'hidden')}}">
                      <div ng-click="MainButtonsPressed(wFlow,1);" class="SearchButton MainButtonsTab">
                        Search
                      </div>
                      <div ng-click="MainButtonsPressed(wFlow,2);" class="CreateButton MainButtonsTab">
                        Create New Element
                      </div>
                      <div ng-click="MainButtonsPressed(wFlow,3);" class="EditButton MainButtonsTab">
                        Edit Element
                      </div>
                    </div>
                    <div class="{{((getSelectedTabType(wFlow) == 1)?'':'hidden')}}">
                      <div class="searchTextboxDiv">
                        <input class="searchTextbox" ng-enter="prepareForSearch(wFlow);" ng-change="InsertStepToLast10Steps(); " placeholder="Search Text" id="1" ng-model="wFlow.selectedTab.dataHolding.searchText">
                      </div>
                      <div class="searchOptions">
                        <ons-row class="LabelOfOptionsButtons">
                          Elements to search:
                        </ons-row>
                        <ons-row>
                          <ons-col ng-click="wFlow.selectedTab.dataHolding.elementsToSearch = 0; InsertStepToLast10Steps();" class="{{'searchOptionButton col ons-col-inner '+((wFlow.selectedTab.dataHolding.elementsToSearch == 0)?'checked':'')}}">Kbits</ons-col>
                          <ons-col ng-click="wFlow.selectedTab.dataHolding.elementsToSearch = 1; InsertStepToLast10Steps();" class="{{'searchOptionButton col ons-col-inner '+((wFlow.selectedTab.dataHolding.elementsToSearch == 1)?'checked':'')}}">Deliveries</ons-col>
                          <ons-col ng-click="wFlow.selectedTab.dataHolding.elementsToSearch = 2; InsertStepToLast10Steps();" class="{{'searchOptionButton col ons-col-inner '+((wFlow.selectedTab.dataHolding.elementsToSearch == 2)?'checked':'')}}">Terms</ons-col>
                        </ons-row>
                        <ons-row class="LabelOfOptionsButtons">
                          Search By:
                        </ons-row>
                        <ons-row>
                          <ons-col ng-click="wFlow.selectedTab.dataHolding.searchBy = 0; InsertStepToLast10Steps();" class="{{'searchOptionButton col ons-col-inner '+((wFlow.selectedTab.dataHolding.searchBy == 0)?'checked':'')}}">Name</ons-col>
                          <ons-col ng-click="wFlow.selectedTab.dataHolding.searchBy = 1; InsertStepToLast10Steps();" class="{{'searchOptionButton col ons-col-inner '+((wFlow.selectedTab.dataHolding.searchBy == 1)?'checked':'')}}">Description</ons-col>
                          <ons-col ng-click="wFlow.selectedTab.dataHolding.searchBy = 2; InsertStepToLast10Steps();" class="{{'searchOptionButton col ons-col-inner '+((wFlow.selectedTab.dataHolding.searchBy == 2)?'checked':'')}}">ID</ons-col>
                        </ons-row>
                        <ons-row>
                          <ons-col></ons-col>
                          <ons-col>
                            <div class="SearchButtonForQuery" ng-click="prepareForSearch(wFlow);">Search</div>
                          </ons-col>
                          <ons-col></ons-col>
                        </ons-row>                        
                      </div>
                      <div style="display:none" class="searchResults">
                        {{wFlow.selectedTab.content.searchText}}
                        <br>
                        {{wFlow.name}}
                      </div>
                    </div>
                    <div class="{{((getSelectedTabType(wFlow) == 2)?'':'hidden')}}">
                      create
                    </div>
                    <div class="{{((getSelectedTabType(wFlow) == 3)?'':'hidden')}}">
                      edit
                    </div>
                    <div class="{{((getSelectedTabType(wFlow) == 4)?'':'hidden')}}">
                      <!-- check if null => loader , length=0 => no content -->
                      <pre>{{(((wFlow.selectedTab.dataHolding.results == null)?{"result":"Loading..."}:((wFlow.selectedTab.dataHolding.resultsCount == 0)?{"result":"No Content"}:wFlow.selectedTab.dataHolding.results)) | json)}}</pre>
                    </div>
                </div>
              </div>

              <div ng-repeat="newButtons in workSpaces.newWorkflowButtons" id="{{'newWorkflowButton'+newButtons.ID}}" class="{{'newWorkflowButtonDiv WorkFlowBlock ' + ((displayNewWorkflowButtons == true)?'':'hidden')}}" fx="{{newButtons.fx}}" fy="{{newButtons.fy}}" tx="{{newButtons.tx}}" ty="{{newButtons.ty}}" >
                <div ng-click="convertToWorkflow(newButtons);" class="newWorkFlow">
                  <ons-icon icon="ion-plus-round" size="150px" class="ons-icon ons-icon--ion ion-plus-round" style="line-height: 200px; display: block; color: rgb(210, 210, 210); font-size: 150px;"></ons-icon>
                </div>
              </div>

              <!-- <canvas id="myCanvas" width="400" height="400"></canvas> -->
            </div>
            
          </ons-row>
        </ons-page>

      </div>
      <div id="LoginPage" ng-switch-when="1" >
        <div class="backGroundPos">
          <img class="blurBackground" src="img/loginbg1.jpg" />
          <div class="holdLoginDiv">
            <div class="LoginHeader">
              <img src="img/IntelIcon.png" />
            </div>
            <div class="LoginBody">
              <form autocomplete="off">
                <input ng-enter="LoginWithUsernameAndPassrod();" id="username" type="text" placeholder="מספר נהג">
                <input ng-enter="LoginWithUsernameAndPassrod();" id="password" type="password" placeholder="סיסמה">
              </form>
            </div>
            <div class="LoginFooter" ng-click="LoginWithUsernameAndPassrod();">
              <div class="LoginLoader">
                <ons-icon spin="true" icon="ion-load-d" size="30px"></ons-icon>
              </div>
              <div class="LoginButton">
                התחבר
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="blurWindow" ng-click="CancelNewWorkflow();" class="{{((blurAllWindow == true)?'':'hidden')}}"></div>
    </div>
    <div id="colorPickerDiv" class="{{((handlePickColor == true)?'':'hidden')}}">
      <ons-row class="colorPickerTitle">
        <ons-col></ons-col>
        <ons-col>Pick color</ons-col>
        <ons-col></ons-col>
      </ons-row>
      <ons-row>
        <ons-col><div ng-click="((isColorUsed('#ED143D') == true)?return:colorPicked='#ED143D')" class="{{'redColor colorPick '+((isColorUsed('#ED143D') == false)?'clickable hoverOp':'')}}">
          <div class="{{'colorUsed '+((isColorUsed('#ED143D') == true)?'':'hidden')}}">Used</div>
        </div></ons-col>
        <ons-col><div ng-click="((isColorUsed('#7FFF00') == true)?return:colorPicked='#7FFF00')" class="{{'greenColor colorPick '+((isColorUsed('#7FFF00') == false)?'clickable hoverOp':'')}}">
          <div class="{{'colorUsed '+((isColorUsed('#7FFF00') == true)?'':'hidden')}}">Used</div>
        </div></ons-col>
        <ons-col><div ng-click="((isColorUsed('#0860A8') == true)?return:colorPicked='#0860A8')" class="{{'blueColor colorPick '+((isColorUsed('#0860A8') == false)?'clickable hoverOp':'')}}">
          <div class="{{'colorUsed '+((isColorUsed('#0860A8') == true)?'':'hidden')}}">Used</div>
        </div></ons-col>
        <ons-col><div ng-click="((isColorUsed('#FF8C00') == true)?return:colorPicked='#FF8C00')" class="{{'orangeColor colorPick '+((isColorUsed('#FF8C00') == false)?'clickable hoverOp':'')}}">
          <div class="{{'colorUsed '+((isColorUsed('#FF8C00') == true)?'':'hidden')}}">Used</div>
        </div></ons-col>
        <ons-col><div ng-click="((isColorUsed('#FF1493') == true)?return:colorPicked='#FF1493')" class="{{'pinkColor colorPick '+((isColorUsed('#FF1493') == false)?'clickable hoverOp':'')}}">
          <div class="{{'colorUsed '+((isColorUsed('#FF1493') == true)?'':'hidden')}}">Used</div>
        </div></ons-col>
      </ons-row>
      <ons-row>
        <ons-col><div ng-click="((isColorUsed('#9400D3') == true)?return:colorPicked='#9400D3')" class="{{'violateColor colorPick '+((isColorUsed('#9400D3') == false)?'clickable hoverOp':'')}}">
          <div class="{{'colorUsed '+((isColorUsed('#9400D3') == true)?'':'hidden')}}">Used</div>
        </div></ons-col>
        <ons-col><div ng-click="((isColorUsed('#FFD700') == true)?return:colorPicked='#FFD700')" class="{{'goldColor colorPick '+((isColorUsed('#FFD700') == false)?'clickable hoverOp':'')}}">
          <div class="{{'colorUsed '+((isColorUsed('#FFD700') == true)?'':'hidden')}}">Used</div>
        </div></ons-col>
        <ons-col><div ng-click="((isColorUsed('#8B4513') == true)?return:colorPicked='#8B4513')" class="{{'brownColor colorPick '+((isColorUsed('#8B4513') == false)?'clickable hoverOp':'')}}">
          <div class="{{'colorUsed '+((isColorUsed('#8B4513') == true)?'':'hidden')}}">Used</div>
        </div></ons-col>
        <ons-col><div ng-click="((isColorUsed('#808080') == true)?return:colorPicked='#808080')" class="{{'grayColor colorPick '+((isColorUsed('#808080') == false)?'clickable hoverOp':'')}}">
          <div class="{{'colorUsed '+((isColorUsed('#808080') == true)?'':'hidden')}}">Used</div>
        </div></ons-col>
        <ons-col><div ng-click="((isColorUsed('#000') == true)?return:colorPicked='#000')" class="{{'blackColor colorPick '+((isColorUsed('#000') == false)?'clickable hoverOp':'')}}">
          <div class="{{'colorUsed '+((isColorUsed('#000') == true)?'':'hidden')}}">Used</div>
        </div></ons-col>
      </ons-row>
    </div>
    <div id="ToastMessage" class="ToastContainer BOTTOM">
      <div class="ToastTitle"></div>
      <div class="ToastBody"></div>
    </div>
    <!-- $('#ToastMessage').fadeIn(500).delay(2000).fadeOut(500); // add before show title and body and porsition -->

    <div id="LoadingScreen" style="z-index: 100000;display:block;position: fixed;width: 100%;height: 100%;background: rgb(8,96,168);">
      <img src="img/IntelIcon.png" style="width: 200px;position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;opacity: .85;z-index: 3;">
      <img src="img/IntelIcon.png" class="animatedLogo" style="width: 200px;position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;">
      <div class="statusBarLoading">
        <div class="StatusBarPerc"></div>
      </div>
    </div>
    

  <script type="text/javascript" src="js/angular/angular.js"></script>
  <script type="text/javascript" src="js/onsenui.js"></script> 
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/jquery.maskedinput.js"></script>
  <script type="text/javascript" src="js/xmlToJson.js"></script>
  <script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="js/bootstrap-datepicker.he.js"></script>
  <script type="text/javascript" src="js/firebase.js"></script>
  <script type="text/javascript" src="js/angularfire.min.js"></script>
  <script type="text/javascript" src="js/visible.js"></script>

  <script type="text/javascript" src="js/Toast.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/globals.js"></script>
  <script type="text/javascript" src="js/Storage.js"></script>
  <script type="text/javascript" src="js/Server.js"></script>
  <script type="text/javascript" src="js/Settings.js"></script>
  <script type="text/javascript" src="js/Steps.js"></script>
  <script type="text/javascript" src="js/content.js"></script>
  <script type="text/javascript" src="js/tab.js"></script>
  <script type="text/javascript" src="js/workflows.js"></script>
  <script type="text/javascript" src="js/workspace.js"></script>

  

  </body>
</html>
